* {
  box-sizing: border-box;
}

main {
  width: 350px;
  height: 350px;
  background: rgb(112, 99, 99);
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  padding: 55px;
  overflow: hidden;
}

span {
  font-size: 50px;
  color: antiquewhite;
  align-items: center;
}

button {
  width: 80px;
  height: 50px;
  box-shadow: 10px 5px 5px rgb(58, 42, 42);
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
}

.addBtn {
  background: rgb(248, 65, 65);
  color: beige;
}

.subBtn {
  background: rgb(112, 204, 112);
}

.reset {
  background: rgb(121, 121, 189);
  color: beige;
}
